.contenedor{
	background: #cccccc;
	width: 800px;
	height: 600px;

	background-image: url(images/img3.png), url(images/img2.png),url(images/img1.png);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: right bottom,center, left bottom;







}