.contenedor{
	background: #000000;
	width: 800px;
	height: 600px;
	color: #ffffff;
}

#p1{
	background-color: rgb(120,180,14);
	color: #ffffff;
}
#p2{
	background-color: rgba(120,180,14,0.75); /* rgba crea opacidad */
	color: #ffffff;
}
#p3{
	color: #ffffff;
	background-color: hsl(120,60%, 70%);
}
#p4{
	color: #ffffff;
	background-color: hsla(120,60%, 70%,0.75);
}