body{
	background: #cfc5a9;

}

/* Modificando la clase container*/
.container{
	margin-top: 50px;
	
	width: 600px;

	margin-bottom: 50px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2b2b2+0,ffffff+75,2989d8+75 */
background: #b2b2b2; /* Old browsers */
background: -moz-linear-gradient(top, #b2b2b2 0%, #ffffff 60%, #2989d8 60%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #b2b2b2 0%,#ffffff 60%,#2989d8 60%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #b2b2b2 0%,#ffffff 60%,#2989d8 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */

	
	box-shadow: 5px 5px grey; 
}

p{
	text-align: justify;
}

.col-md-4  img{
	border-style: solid;
	border-width: 5px;

}
/*
#cajaInferior{


}



#cajaSuperior{

	background: linear-gradient(black,white);
}*/